.leftBot {
    top: 100px;
    left: 10%;
    height: 200px;
    animation-duration: 3.5s;
}

.rightBot {
    top: 100px;
    right: 10%;
    height: 200px;
    animation-duration: 3s;
}

.guitarIllustration {
    bottom: 20%;
    left: 10%;
    width: 200px;
}

.skateIllustration {
    bottom: 20%;
    left: calc(10% + 200px);
    width: 250px;
}

.girlIllustration {
    bottom: 20%;
    right: 10%;
    width: 200px;
}

.dogIllustration {
    bottom: 20%;
    right: calc(10% + 200px);
    width: 200px;
}
